@using ASPNET_WebApp.Infrastructure.Data
@model IEnumerable<Review>

<div class="row">
	<div class="col-12">
		<div class="text-white">
			<div class="card-header">
				<h3 class="card-title">Application Reviews</h3>
				<div class="card-tools row">
				</div>
			</div>

			<div class="card-body table-responsive p-0">
				<table class="text-white table text-nowrap">
					<thead>
						<tr>
							<th>Anime Name</th>
							<th>Username</th>
							<th>Date</th>
							<th>Description</th>
							<th>Rating</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var review in Model)
						{
							<tr>
								<td>@review.Anime.Name</td>
								<td>@review.User.UserName</td>
								<td>@review.Date</td>
								<td>@review.Description</td>
								<td>@review.Score</td>
								<td>
									@*TODO: Edit functionality*@
									@*<a asp-area="" asp-action="Edit" asp-controller="Anime" asp-route-id="@review.Id" class="btn btn-block btn-outline-info btn-xs">Edit</a>*@
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>