@using ASPNET_WebApp.Infrastructure.Data
@model dynamic
@{
	ViewData["Title"] = "Anime Details";
}



	


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb__links">
					<a asp-area="" asp-controller="Home" asp-action="Categories"><i class="fa fa-home"></i> Home</a>
					<a asp-area="" asp-controller="Home" asp-action="Categories">Categories</a>
					<span>Romance</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Breadcrumb End -->
<!-- Anime Section Begin -->
<section class="anime-details spad">
	<div class="container">
		<div class="anime__details__content">
			<div class="row">
				<div class="col-lg-3">
					@if (Model.Anime.Image != null)
					{
						<div class="anime__details__pic set-bg" data-setbg="@Model.Anime.Image">
							@*<div class="comment"><i class="fa fa-comments"></i> @Model.Anime.Reviews.Count()</div>*@
						</div>
					}
					else
					{
						<div class="anime__details__pic set-bg" data-setbg="~/img/default-150x150">
							<div class="comment"><i class="fa fa-comments"></i> @Model.Anime.Reviews.Count</div>
						</div>
					}
				</div>
				<div class="col-lg-9">
					<div class="anime__details__text">
						<div class="anime__details__title">
							<h3>@Model.Anime.Name</h3>
						</div>

						<p>
							@Model.Anime.Description
						</p>
						<div class="anime__details__widget">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<ul>
										<li><span>Studios:</span> @Model.Anime.Studios</li>
										<li><span>Studios:</span> @Model.Anime.Producers</li>
										<li><span>Date aired:</span> @Model.Anime.Aired</li>
										<li><span>Status:</span> @Model.Anime.Status</li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-6">
									<ul>
										<li><span>Genre:</span> @Model.Anime.Genres </li>
										<li><span>Rating:</span> @Model.Anime.Score / @Model.Anime.Reviews.Count times</li>
										<li><span>Duration:</span> @Model.Anime.Duration</li>
										<li><span>Episodes:</span> @Model.Anime.Episodes episodes</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div>
				<div class="anime__details__form">
					<div class="section-title">
						<h5>Your Review</h5>
					</div>
					<form id="createReview" enctype="multipart/form-data" method="post">
						<div class="form-group">
							<input value="@Model.Anime.Id" name="AnimeId" hidden class="form-control" />
						</div>
						<textarea value="@ViewBag.Description" name="Description" placeholder="Your Review Text" style="margin-bottom: 10px;"></textarea>
						<div class="section-title" style="margin-top: 10px; margin-bottom: 10px;">
							<h5>Your Rating</h5>
						</div>
						@*<textarea value="@ViewBag.Rating" name="Rating" placeholder="Write a number from 1 to 10" style="margin-bottom: 10px;"></textarea>*@
						<form action="#">
							<label for="lang">Rating</label>
							<select value="@ViewBag.Rating" name="Rating" id="lang" size="8">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
							<input type="submit" value="Submit"/>
						</form>
					</form>
				</div>
				<div class="anime__details__review" style="margin-top: 80px;">
					<div class="section-title">
						<h5>Reviews</h5>
					</div>
					@foreach (var review in Model.Reviews)
					{
						<div class="anime__review__item">
							<div class="anime__review__item__text">
								<h6>@review.UserName <span>@review.Date</span></h6>
								<p>
									@review.Description
								</p>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Anime Section End -->
<!-- Js Plugins -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/player.js"></script>
<script src="~/js/mixitup.min.js"></script>
<script src="~/js/jquery.slicknav.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/site.js"></script>
<script src="~/plugins/toastr/toastr.min.js"></script>
<partial name="_UserMessages" />